<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Film" type="com.sakila.Entity.Film"/>
    </typeAliases>
    <mappers>
        <mapper resource="SpringConfig/Maps/FilmMap.xml"/>
        <mapper resource="SpringConfig/Maps/LanguageMap.xml"/>
        <mapper resource="SpringConfig/Maps/CustomerMap.xml"/>
        <mapper resource="SpringConfig/Maps/AddressMap.xml"/>
    </mappers>
</configuration>
